* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  

  }
.navbar-container{
    height:70px;
    width:100%;
    background-color: #1877f2;
    /* display:flex; */
    display: flex;
    /* transition: top 0.3s; */
    overflow: hidden;
    align-items: center;
  
    top:0;  
}

.navbar-Left {
    flex:3;
}

.navbar-Center {
    flex:5;
}

.navbar-Right {
    flex:4;
   
}

.logo{
    font-size:24px;
    margin-left: 20px;
    font-weight: bold;
    color: #fff;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-radius:30px;
}

.search-input{
    margin-top:5px;
    margin-left: 20px;
    border:none;
    width:70%;
}

.search-input:focus {
    outline: none;
}

.Links{
    margin-left: 20px;
}
.link {
    margin-right: 24px;
    font-size: 17px;
    color: #fff;
}